<div class="registration">
    <div class="registration__title">Регистрация</div>
    <form class="registration__form">
        {{{emailInput}}}
        {{{loginInput}}}
        {{{nameInput}}}
        {{{surnameInput}}}
        {{{phoneInput}}}
        {{{passwordInput}}}
        {{{secondPasswordInput}}}
       <div class="registration__btn">
           {{{button}}}
       </div>
    </form>
    <a href="#" class="registration__login">Войти</a>
</div>
